/* CSS FOR NAVBAR/HEADER */

.navbar {
    display: flex;
    align-items: center; 
    justify-content: center;
    justify-content: space-between;
    
}

.five_links {
    width: 40%;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.five_links a {
    text-decoration: none;
    font-size: 13px;
}

.two_buttons {
    float:right;
    margin-right: 80px;
}

#sign_in {
    border-radius: 10px;
    width: 80px;
    height: 30px;
    background-color: white;
    color: #0850f8;
    border-color: #0850f8;
    font-weight: bold;
    box-shadow: none;
    border-style: solid;
    cursor: pointer;
}

#try_it_free{
    border-radius: 10px;
    width: 80px;
    height: 30px;
    background-color: #0850f8;
    color: white;
    border-color: #0850f8;
    font-weight: bold;
    box-shadow: none;
    cursor: pointer;
}

#logo {
    width: 175px;
    margin-left: 80px;
}


/* CSS FOR FOOTER */

.footer {
    background-color: #0850f8;
    color: white;
}

#double_tap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

#get_started {
    display: flex;
    align-items: center;
    justify-content: center;
}

.two_bottom_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

#started_button {
    background-color: rgb(42, 238, 16);
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(42, 238, 16);
    color: white;
    width: 150px;
    display: flex;
    justify-content: space-between;
    margin-right: 60px;
    cursor: pointer;
}

.started_button_text {
    margin: 3px 0px 3px 25px;
}

#chat_with_us {
    background-color: white;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
    color: #0850f8;
    width: 150px;
    display: flex;
    cursor: pointer;
}

#speech_bubble {
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 1px;
    margin-bottom: 3px;
}

#chat_with_us_text {
    margin-top: 3px;
    margin-bottom: 1px;   
}

.bottom_text {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    width: 450px;
    margin: 0 auto;
    font-size: small;
    padding-top: 20px;
}

.section-3{  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.6fr 1.4fr;
    gap: 0px 0px;
    justify-items: center;
    margin: 15%;
    margin-bottom: 5%;
    grid-template-areas:
      "Box-1 Box-1 Box-1"
      "Box-2 Box-3 Box-3";
  }
  
  .Box-1 { grid-area: Box-1; }
  
  .Box-2 { grid-area: Box-2; }
  
  .Box-3 { grid-area: Box-3; }

  .Box-3{
    background-color: blue;
  }
  .Box-1{
    margin-bottom: 5%;
  }
  .Box-3{
     color: white;
     font-size: small;
     padding: 5%;
     border-top-right-radius: 3%;
     border-bottom-right-radius: 3%;
     
  }
  .gps-head{
    display: flex;
    justify-content: center;
  }

  .container11 {
    display: flex;
     align-items: center;
     justify-content: center;
     border: 1px solid lightgray;
     border-radius: 15px;
     height: 600px;
     margin-left: 150px;
     margin-right: 150px;
     background-color: rgb(0, 81, 255);
     max-width: 1300px;
 
     }
     .works-img {
         width: 300px;
         height: 300px;
         float: left;
         padding-top: 150px;
         padding-left: 75px;
         padding-bottom: 150px;
         background-color: white;
         border: 1px solid lightgrey;
         border-top-left-radius: 14px;
         border-bottom-left-radius: 14px;
         border-right: 2px solid lightgrey;
         padding-right: 75px;
     }
     
     .info {
         font-size: 25px;
         color: white;
         margin-left: 150px;
         padding-bottom: 50px;
     }
     .box-text {
         display: flex;
         font-size: 20px;
         padding-top: 00px;
         padding-right: 100px;
         padding-left: 100px;
         color: white;
         align-items: center;
         justify-content: center;
         max-width: ;
     }
     .works-text {
         align-items: center;
         justify-content: center;
         font-size: 20px;
         margin-left: 600px;
     }
     .lorem-text {
         align-items: center;
         justify-content: center;
         margin-left: 450px;
         margin-right: 350px;
         margin-bottom: 50px;
         margin-top: 30px;
         font-size: 20px;
         max-width: 500px;
     }
     .tristyn{
         width: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
     }
=======
  *{
    margin: 0;
    padding: 0
}

body {
    overflow-x: hidden;
}

.main_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 500px;
    margin-top: 50px;
}

.hero-right{
    margin-left: 800px;
    margin-top: 90px;
}


.button{
    background-color: white;
    border-color: blue;
    color:blue;
    width: 150px;
    height: 40px;
    border-radius: 6px;
}
.signin{
    background-color: white;
    color: blue;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    border-color: blue;

}
.Tfree{
    background-color: blue;
    color: white;
    width: 70px;
    height: 30px;
    border-radius: 5px;
}
.signup{
    background-color: blue;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 6px;
    border: none;
    margin-bottom: 20px;
    margin-top: 20px;
}
a{
    text-decoration: none;
}
/*.sign-chat{ 
    display: flex;
    justify-content: space;
    padding: 15px;
}*/
.header{
    max-width: 30%;
    max-height: 30%;
}

.h-div {
    display: flex;
    align-items: flex-start;
    position: relative;
    left: calc(700px);
    top: 70px;
    margin-left: 300px;
    margin-top: 60px;
    width: 1500px;
    position: absolute;
    right: 0;
}

}

.logo{
    max-width: 12%;
    max-height: 12%;
}

.line {
    margin-top: 200px;
    max-width: 65%;
    margin-left: 200px;
}

#let_us {
    margin-bottom: 10px;
}

.subscription {
    color: grey;
    font-size: 15px;
}

.doubletap {
    margin-bottom: 20px;
}

